.blogWrapper {
  display: grid;
  grid-template-columns: 3fr 1fr;
  font-family: 'Cinzel', serif;
}

/***********LESS THAN 600PX DO THIS*****************/
@media only screen and (max-width: 600px) {
  .blogWrapper {
    grid-template-columns: auto;
  }
  .archiveWrapper {
    display: none;
  }
}
