.contactWrapper {
  margin: 0 auto;
  padding: 30px;
  display: grid;
  grid-gap: 20px;
  grid-template-columns: repeat(auto-fill, minmax(49%, 1fr));
  font-family: 'Cinzel', serif;
}

.contact {
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.5);  
  grid-column: 1 / -1;
  background-color: #dddfd4;
  width: auto;
  height: 760px;
  padding: 30px 50px 0;
  margin: 0 auto;
  border-radius: 5px;
}

.contact > h1 {
  padding-right: 0;
  float: none;
  text-align: center;
  justify-content: center;
  align-items: center;
}

input {
  border: 1px solid #eee;
  border-left: 5px solid;
  border-radius: 5px;
  transition: border-color 0.5s ease-out;
}

label {
  font-size: 20px;
  font-weight: bold;
}

input {
  border: 1px solid #dadada;
  margin-top: 10px;
  margin-bottom: 10px;
  width: 100%;
  height: 30px;
  font-size: 14px;
  box-shadow: 0 0 10px;
  -webkit-box-shadow: 0 0 10px;
  /* For I.E */
  -moz-box-shadow: 0 0 10px;
  /* For Mozilla Web Browser */
  border-radius: 5px;
  -webkit-border-radius: 5px;
  /* For I.E */
  -moz-border-radius: 5px;
  /* For Mozilla Web Browser */
}

textarea {
  border: 1px solid #dadada;
  margin-top: 10px;
  margin-bottom: 10px;
  width: 100%;
  height: 200px;
  font-size: 14px;
  box-shadow: 0 0 10px;
  -webkit-box-shadow: 0 0 10px;
  /* For I.E */
  -moz-box-shadow: 0 0 10px;
  /* For Mozilla Web Browser */
  border-radius: 5px;
  -webkit-border-radius: 5px;
  /* For I.E */
  -moz-border-radius: 5px;
  /* For Mozilla Web Browser */
}

.contact button {
  background-color: #3fb0ac;
  border-radius: 5px;
  border: none;
  padding: 10px 25px;
  color: #fff;
  text-shadow: 1px 1px 1px #949494;
  width: 100%;
  height: auto;
  font-family: 'Cinzel', serif;
  font-size: 20px;
  transition: all .3s;
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.5);
}

button:hover {
  background-color: hsl(0, 100%, 18%);
  transform: translateY(-3px);
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.9);
}

@media only screen and (max-width: 650px) {
  .contact {
    width: auto;
  }
  textarea {
    height: 240px;
  }
  .contact > h1 {
    font-size: 1.75rem;
  }
}

@media only screen and (max-width: 500px) {
  .contact {
    width: auto;
    height: auto;
    padding: 30px;
  }
  textarea {
    height: 160px;
  }
  .contact > h1 {
    font-size: 1.5rem;
  }
}
