@import url('https://fonts.googleapis.com/css?family=Cinzel');

.events > h2 {
  text-align: center;
  color: hsl(0, 100%, 18%);
  font-size: 2.25rem;
}

.eventList {
  margin: 0 auto;
  width: 40vw;
  padding: 1rem;
}

.eventItem {
  margin: 1rem 0;
  display: flex;
  justify-content: space-between;
  /* border-bottom: 1px solid hsl(0, 100%, 18%); */
}

@media only screen and (max-width: 650px) {
  .eventList {
    width: auto;
  }
}
