@import url('https://fonts.googleapis.com/css?family=Cinzel');

.events > h2 {
  text-align: center;
  color: hsl(0, 100%, 18%);
  font-size: 2.25rem;
}

.eventList {
  margin: 0 auto;
  width: 50vw;
  padding: 1rem;
}

.eventItem {
  margin: 1rem 0;
  display: flex;
  justify-content: space-between;
}

.eventTitle {
  font: 700 20px 'Cinzel', sans-serif;
  background-color: hsl(0, 100%, 18%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-image: linear-gradient(
    to right,
    #d7a150,
    #d7a150 50%,
    hsl(0, 100%, 18%) 50%
  );
  background-size: 200% 100%;
  background-position: 100%;
  transition: all 0.3s;
  text-decoration: none;
  text-decoration-color: hsl(0, 100%, 18%);
  transition: all 0.2s;
}

.eventTitle:hover {
  background-position: 0%;
  transform: translateY(-3px);
}

@media only screen and (max-width: 920px) {
  .eventList {
    width: auto;
  }
}

@media only screen and (max-width: 650px) {
  .eventItem {
    display: list-item;
  }
}
