.footer {
  background-image: linear-gradient(to bottom, #173e43, hsl(0, 100%, 18%) 70%);
  padding: 6rem;
}

.footer__container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(40vw, auto));
  grid-auto-rows: auto;
  justify-content: space-evenly;
}

.footer__container > .foot-nav {
  border-top: 1px solid #d7a150;
  list-style: none;
  text-align: center;
  width: 40vw;
  margin: 3rem;
  padding-left: 0;
}

.copyright {
  list-style: none;
  text-align: center;
  width: 40vw;
  border-top: 1px solid #d7a150;
  margin: 3rem;
  padding-right: 0;
  color: #3fb0ac;
}

.footItem {
  display: inline-block;
  transition: all 0.3s;
}

.footItem:hover {
  transform: translateY(-3px) scale(1.1);
}

.footLink {
  text-align: center;
  font: 700 1.5rem 'Cinzel', sans-serif;
  background-color: #3fb0ac;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-image: linear-gradient(
    to right,
    #d7a150 50%,
    #d7a150 50%,
    #3fb0ac 50%
  );
  background-size: 200% 100%;
  background-position: 100%;
  display: inline-block;
  padding: 1em;
  transition: all 0.3s;
}

.footLink:hover {
  transition: all 0.3s cubic-bezier(0, 0, 0.23, 1);
  background-position: 0%;
}

.footer__logo {
  text-align: center;
  margin-bottom: 4rem;
  margin-top: 0;
}

#footLogo {
  width: 15rem;
}

#footLogo:hover {
  animation-name: spin;
  animation-duration: 100ms;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.social {
  text-align: center;
}

.etsyLogo {
  width: 6rem;
  transition: all 0.3s;
}

.etsyLogo:hover {
  transform: translateY(-3px) scale(1.1);
}

#instagramColorLink {
  margin-right: 10px;
}

#igImageColor {
  width: 3em;
  transition: all 0.3s;
}

#igImageColor:hover {
  transform: translateY(-3px) scale(1.1);
}

@media only screen and (max-width: 975px) {
  .footLink {
    font-size: 2rem !important;
  }
}

@media only screen and (max-width: 875px) {
  .footLink {
    font-size: 1.75em !important;
  }
}

@media only screen and (max-width: 805px) {
  .footer {
    height: 100%;
  }

  .footLink {
    font-weight: bold;
  }
  #footLogo {
    width: 120px;
  }
}

@media only screen and (max-width: 500px) {
  .footLink {
    font-size: 0.9rem !important;
  }

  .footer > ul {
    padding-left: 0;
  }

  #igImageColor {
    width: 36px;
  }
}
