.grid-wrapper {
  /* Masonry container */
  -webkit-column-count: 4; /* Chrome, Safari, Opera */
  -moz-column-count: 4; /* Firefox */
  column-count: 4;
  margin: 0 auto;
  padding: 20px;
  /* max-width: 1080px; */
}

.box {
  /* Masonry bricks or child elements */
  background-color: #173e43;
  display: inline-block;
  margin: 0 auto;
  width: 100%;
  border-radius: 4px;
  padding-bottom: 10px;
}

.box img {
  width: 100%;
  border-radius: 4px;
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.5);
}

html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

@media only screen and (max-width: 900px) {
  .grid-wrapper {
    padding-top: 0;
    padding: 25px;
  }
}

@media only screen and (max-width: 500px) {
  .grid-wrapper {
    grid-gap: 15px;
    padding: 20px;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  }

  .box img {
    border-radius: 4px;
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.5);
    width: 100%;
  }
}

/* Anything smaller than Iphone 6 */
@media only screen and (max-width: 350px) {
  .box {
    padding-right: 20px;
  }
}
