@import url('https://fonts.googleapis.com/css?family=Cinzel');
@import url('https://fonts.googleapis.com/css?family=Quattrocento');
body {
  font-family: 'Cinzel', sans-serif;
  margin: 0 auto;
  background-color: #173e43;
  > p {
    font-family: 'Quattrocento', serif;
  }
}

.site {
  min-height: 100vh;
}
