/* cards with blog post exerpts */
.listing {
  margin: 30px;
  padding: 20px;
  padding-top: 0;
  font-family: 'Cinzel';
  background-color: #dddfd4;
  box-shadow: 0px 3px 10px rgba(25, 17, 34, 2);
  border-radius: 4px;
  display: grid;
  grid-gap: 30px;
}

.listing > .read-more {
  text-align: left;
  font: 700 20px 'Cinzel', sans-serif;
  background-color: hsl(0, 100%, 18%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-image: linear-gradient(
    to right,
    #d7a150,
    #d7a150 50%,
    hsl(0, 100%, 18%) 50%
  );
  background-size: 200% 100%;
  background-position: 100%;
}

article > .read-more:hover {
  transition: all 2s cubic-bezier(0, 0, 0.23, 1);
  background-position: 0%;
}

article p {
  text-align: left;
  margin: 0;
  padding: 0;
  font-size: 1.3rem;
}
.

article .read-more {
  text-decoration: underline;
  text-decoration-color: hsl(0, 100%, 18%);
}

article a {
  text-decoration: none;
}

article > a > h2 {
  text-decoration: none;
  margin-bottom: 0;
  text-align: left;
  font: 700 35px 'Cinzel', sans-serif;
  background-color: hsl(0, 100%, 18%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-image: linear-gradient(
    to right,
    #d7a150,
    #d7a150 50%,
    hsl(0, 100%, 18%) 50%
  );
  background-size: 200% 100%;
  background-position: 100%;
}

article > a > h2:hover {
  transition: all 0.7s cubic-bezier(0, 0, 0.23, 1);
  background-position: 0%;
}
